.loaderDiv{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 9999;
    background: #5a5a5abf;
    width: 100%;
}
.loadder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}
.loaderDiv{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 9999;
    background: #5a5a5abf;
    width: 100%;
}