.bg-overlay-dark2:before {
    background-color: rgba(52, 73, 94, 0.7);
}

.bg-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -ms-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.header-transparent + .mtop-100, .header-transparent + .page-title, .header-transparent + section {
    position: relative;
    margin-top: -100px;
}

.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.property-single-gallery-info {
    margin-bottom: 5px !important;
}
.property-single-gallery-info .property--info {
    padding: 0 0 31px;
}
.pull-left {
    float: left!important;
}
.property-single-gallery-info .property--title {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    text-transform: capitalize;
    margin-bottom: 9px;
}
.property-single-gallery-info .property--location {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    color: #545454;
}
.btn.btn--success {
    border: 2px solid #34a20d;
    color: #34a20d;
    background: #fff;
}
.property-single-gallery-info .property--status {
    font-weight: 600;
    position: static;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    display: block;
    background-color: transparent;
    padding: 0;
    color: #34495e;
}
.verified-listing .property-rating {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.property--info .property-rating {
    margin-top: 15px;
}
.verified-listing .property-rating i {
    color: #fe0100;
}
.inner-box {
    background-color: #ffffff;
    padding: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.property-single-desc .feature-panel {
    position: relative;
    margin-bottom: 24px;
}
.feature-panel {
    position: relative;
}
.pull-right {
    float: right!important;
}
.pull-right {
    float: right;
}
.property-det.inner-box .heading {
    margin-bottom: 20px !important;
}
.inner-box .heading {
    margin-bottom: 48px;
}
.heading .heading--title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 17px;
    color: #000000;
}
.inner-box .heading--title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
}
.feature--content p span {
    float: right;
}
.property-det.property-single-desc .feature-panel .feature--content p {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}
.property-det.property-single-desc .feature-panel .feature--content {
    padding-top: 8px;
    padding-left: 0px;
}
.property-single-desc .feature-panel .feature--content p {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
}
.property-single-desc .feature-panel .feature--img {
    margin-bottom: 13px;
}
.property-single-desc .feature-panel .feature--content h5 {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;
}
.property-single-desc .property--details p:last-of-type {
    margin-bottom: 0;
}
.property-single-desc .property--details p:first-of-type {
    padding-top: 6px;
}
.property-single-features p i {
    margin-right: 14px;
    color: #fe0100;
}
.property-single-features p:before {
    display: none;
    content: "\f00c";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    left: 0;
    color: #fe0100;
}
.property-single-features .amenities p {
    position: relative;
    padding-left: 0px;
    color: #34495e;
    line-height: 1;
    margin-bottom: 18px;
}
.property-review {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.property-review .row {
    margin-bottom: 40px;
    position: relative;
}
.property-review .avatar {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #bdbdbd;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.property-review .comment {
    padding-left: 100px;
    overflow: hidden;
}
.property-review .comment h6 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #34495e;
    line-height: 30px;
    float: left;
    margin-right: 18px;
}
.property-review .comment .property-rating {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fe0100;
    line-height: 30px;
    float: right;
}
.property-review .comment p {
    clear: both;
    margin-bottom: 0;
}
.btn {
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    padding: 0;
    line-height: 39px;
    width: 150px;
    height: 42px;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.col-xs-10 {
    width: 80% !important;
}
.col-xs-2 {
    width: 20% !important;
}
input.price-box.form-control::placeholder {
    color: #fe0100;
    font-size: 20px;
    font-weight: 900;
}
.widget-mortgage-calculator .input-checkbox {
    margin-bottom: 0px;
}
.bg-overlay-dark2:before {
    background-color: rgba(52, 73, 94, 0.7);
}
.bg-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.header-transparent + .mtop-100, .header-transparent + .page-title, .header-transparent + section {
    position: relative;
    margin-top: -100px;
}
.bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

