.nav-scroll-default{
    background-color: #fff;
}

.nav-scroll-active{
    background-color:#5a5a5aa6;
}

.nav-scroll-default.navbar-expand .navbar-nav .nav-link a {
    color: #000;
}
button.login.btn.btn-primary {
    margin-left: 100px;
    background: red;
}